html, body {
  font-family: "Montserrat", medium, sans-serif;
  height: 100%;
  background-color: #f5f5f5; }
  html p, html h1, html h2, html h3, html h4, html h5, html h6, body p, body h1, body h2, body h3, body h4, body h5, body h6 {
    cursor: default; }
  html .w-100, body .w-100 {
    width: 100%; }
  html .p0, body .p0 {
    padding: 0; }
  html .pt30, body .pt30 {
    padding-top: 30px; }
  html .pb30, body .pb30 {
    padding-bottom: 30px; }
  html .light, body .light {
    background-color: #f8f8f8; }
  html .aqua, body .aqua {
    background-color: #10c9c3; }
  html header, body header {
    background-color: #e9e9e9;
    background-image: url(../img/Bald_top.png);
    background-repeat: no-repeat;
    background-position: 12% bottom;
    background-size: 50%;
    text-align: center; }
    @media screen and (max-width: 990px) {
      html header, body header {
        background: none;
        background-color: #e9e9e9; } }
    html header nav, body header nav {
      text-align: center; }
    html header .top_mnu ul, body header .top_mnu ul {
      float: right;
      vertical-align: middle;
      text-align: center; }
      @media screen and (max-width: 1200px) {
        html header .top_mnu ul, body header .top_mnu ul {
          margin-left: 0; } }
      @media screen and (max-width: 767px) {
        html header .top_mnu ul, body header .top_mnu ul {
          margin: 0;
          float: none; } }
    html header .top_mnu li, body header .top_mnu li {
      display: inline-block;
      vertical-align: middle; }
      @media screen and (max-width: 767px) {
        html header .top_mnu li, body header .top_mnu li {
          display: block; } }
      html header .top_mnu li a, body header .top_mnu li a {
        text-decoration: none;
        text-transform: uppercase;
        margin-left: 30px;
        color: #191919;
        font-size: 12px; }
        html header .top_mnu li a:hover, body header .top_mnu li a:hover {
          color: #10c9c3; }
        @media screen and (max-width: 990px) {
          html header .top_mnu li a, body header .top_mnu li a {
            margin-left: 0; } }
    html header h1, body header h1 {
      font-size: 46px;
      text-transform: uppercase;
      padding: 1% 0; }
    html header h6, body header h6 {
      font-size: 36px;
      text-transform: uppercase;
      margin-top: 21%; }
    html header .popup_open_button, body header .popup_open_button {
      margin: 12% 0 21% 0;
      text-align: center;
      border: 0;
      text-transform: uppercase;
      font-size: 14px;
      color: #fff;
      background-color: #10c9c3;
      text-decoration: none;
      padding: 21px 42px; }
  html .about_txt, body .about_txt {
    text-align: center; }
    html .about_txt h3, body .about_txt h3 {
      font-size: 36px;
      color: #373737;
      margin: 30px; }
    html .about_txt p, body .about_txt p {
      font-size: 22px;
      color: #787878;
      margin-bottom: 30px;
      font-family: "Nunito Sans", regular, sans-serif; }
    html .about_txt img, body .about_txt img {
      width: 16%;
      margin: 0 auto; }
  html .number_item_wrap, body .number_item_wrap {
    color: #fff;
    margin: 0 auto;
    text-align: center; }
    html .number_item_wrap .number_img, body .number_item_wrap .number_img {
      display: inline-block;
      background-image: url(../img/iconset_numbers.png);
      height: 41px;
      width: 41px; }
    html .number_item_wrap .number_img_1, body .number_item_wrap .number_img_1 {
      background-position: 0 0; }
    html .number_item_wrap .number_img_2, body .number_item_wrap .number_img_2 {
      background-position: -85px 0; }
    html .number_item_wrap .number_img_3, body .number_item_wrap .number_img_3 {
      background-position: -176px 0; }
    html .number_item_wrap .number_img_4, body .number_item_wrap .number_img_4 {
      background-position: -264px 0; }
    html .number_item_wrap p, body .number_item_wrap p {
      font-size: 16px; }
  html .heads, body .heads {
    background-color: #f5f5f5; }
    html .heads .heads_item, body .heads .heads_item {
      cursor: pointer;
      position: relative;
      transition: 0.6s;
      transform-style: preserve-3d; }
    html .heads img, body .heads img {
      backface-visibility: hidden;
      opacity: 0;
      width: 100%;
      top: 0;
      transition: opacity 1s;
      z-index: -1; }
      html .heads img:nth-of-type(2), body .heads img:nth-of-type(2) {
        position: absolute; }
    html .heads .active, body .heads .active {
      opacity: 1;
      z-index: 1; }
    html .heads .heads_btn, body .heads .heads_btn {
      text-align: center;
      min-height: 100px;
      background-color: #f5f5f5; }
      html .heads .heads_btn button, body .heads .heads_btn button {
        width: 100%;
        height: 100px;
        border: none;
        text-transform: uppercase; }
  html #hide, body #hide {
    display: none; }
  html .process, body .process {
    background-color: #E9E9E9;
    text-align: center; }
    html .process .process_description, body .process .process_description {
      padding: 6% 0; }
      @media screen and (max-width: 1010px) {
        html .process .process_description, body .process .process_description {
          padding: 2% 0; } }
      html .process .process_description div, body .process .process_description div {
        margin: auto; }
    html .process h3, body .process h3 {
      font-size: 28px;
      color: #373737;
      margin-bottom: 40px; }
    html .process p, body .process p {
      font-size: 16px;
      color: #787878;
      margin-bottom: 40px;
      font-family: "Nunito Sans", regular, sans-serif; }
    html .process .process_videoContainer, body .process .process_videoContainer {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      margin: 0 auto; }
      html .process .process_videoContainer iframe, body .process .process_videoContainer iframe {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        position: absolute; }
  html .services, body .services {
    background-color: #f9f9f9; }
    html .services h1, body .services h1 {
      text-transform: uppercase;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 18px;
      font-size: 12px;
      color: #191919; }
    html .services p, body .services p {
      text-align: center;
      font-size: 16px;
      font-family: "Nunito Sans", regular, sans-serif;
      color: #787878; }
    html .services .services_item, body .services .services_item {
      background-image: url(../img/servicse_iconset.png);
      width: 44px;
      height: 43px;
      margin: auto; }
    html .services .s_it_1, body .services .s_it_1 {
      background-position: 0 0; }
    html .services .s_it_2, body .services .s_it_2 {
      background-position: -92px 0; }
    html .services .s_it_3, body .services .s_it_3 {
      background-position: -207px 0; }
    html .services .s_it_4, body .services .s_it_4 {
      background-position: -328px 0; }
    html .services .s_it_5, body .services .s_it_5 {
      background-position: 0 -78px; }
    html .services .s_it_6, body .services .s_it_6 {
      background-position: -92px -78px; }
    html .services .s_it_7, body .services .s_it_7 {
      background-position: -207px -78px; }
    html .services .s_it_8, body .services .s_it_8 {
      background-position: -328px -78px;
      height: 45px;
      width: 45px; }
  html .testimonials, body .testimonials {
    text-align: center;
    margin: 0 auto; }
    html .testimonials .testimonials_content, body .testimonials .testimonials_content {
      margin: 0 auto; }
      html .testimonials .testimonials_content q, body .testimonials .testimonials_content q {
        font-size: 24px;
        color: #fff; }
      html .testimonials .testimonials_content p, body .testimonials .testimonials_content p {
        font-size: 12px;
        color: #fff;
        padding: 30px 0 40px 0; }
  @media screen and (max-width: 700px) {
    html .clients, body .clients {
      display: none; } }
  html .clients .client, body .clients .client {
    background-image: url(../img/clients_iconset.png);
    height: 72px;
    width: 152px;
    margin: 0 auto; }
  html .clients .client_1, body .clients .client_1 {
    background-position: 21px 0; }
  html .clients .client_2, body .clients .client_2 {
    background-position: -117px 0; }
  html .clients .client_3, body .clients .client_3 {
    background-position: -286px 0; }
  html .clients .client_4, body .clients .client_4 {
    background-position: -454px 0; }
  html .clients .client_5, body .clients .client_5 {
    background-position: 21px 0; }
  html .project, body .project {
    background-color: #f5f5f5;
    text-align: center; }
    html .project h2, body .project h2 {
      font-size: 30px;
      color: #191919; }
    html .project p, body .project p {
      font-size: 16px;
      color: #8c8c8c;
      font-family: "Nunito Sans", regular, sans-serif; }
    html .project form, body .project form {
      color: #787878;
      font-size: 15px;
      font-family: "Nunito Sans", regular, sans-serif;
      outline: none; }
      html .project form input, body .project form input {
        margin: 8px;
        width: 100%;
        outline: none;
        border: none;
        padding: 15px; }
      html .project form textarea, body .project form textarea {
        margin: 5px;
        outline: none;
        border: none;
        width: 100%;
        padding: 15px;
        resize: none; }
      html .project form .submit, body .project form .submit {
        color: #fff;
        background-color: #10c9c3;
        text-transform: uppercase; }
  html .faq, body .faq {
    padding: 0 0 20px 0; }
    html .faq h1, body .faq h1 {
      margin: 0 0 2% 0; }
    html .faq h4, body .faq h4 {
      font-size: 30px;
      cursor: pointer; }
    html .faq p, body .faq p {
      display: none; }
      html .faq p:first-of-type, body .faq p:first-of-type {
        display: block; }

footer {
  text-align: center;
  background-color: #000;
  color: #fff; }
  footer h3 {
    margin-top: 0;
    color: #e9e9e9;
    font-size: 18px; }
  footer p {
    color: #9b9b9b;
    font-size: 15px;
    font-family: "Nunito Sans", regular, sans-serif; }
  footer a {
    text-decoration: none;
    font-family: "Nunito Sans", regular, sans-serif;
    font-size: 15px;
    color: #9b9b9b; }
    footer a:hover {
      color: #e9e9e9; }
  footer li {
    list-style-type: none; }

.pointer {
  opacity: 0;
  width: 50px;
  height: 70px;
  float: right;
  position: fixed;
  bottom: 10px;
  right: 5px;
  z-index: 1000;
  cursor: pointer;
  background-image: url(../img/pointer.png);
  background-size: contain;
  background-repeat: no-repeat; }

.popup {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  cursor: pointer; }
  .popup .popup_form_wrap {
    width: 70%;
    position: absolute;
    text-align: center;
    font-family: "Nunito Sans", regular, sans-serif;
    color: #787878;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default; }
    @media screen and (max-width: 768px) {
      .popup .popup_form_wrap {
        width: 100%;
        height: 100%; } }
    .popup .popup_form_wrap p {
      padding-top: 30px;
      font-size: 30px; }
      @media screen and (max-width: 768px) {
        .popup .popup_form_wrap p {
          padding-top: 10px; } }
    .popup .popup_form_wrap form {
      font-size: 15px;
      outline: none; }
      @media screen and (max-width: 768px) {
        .popup .popup_form_wrap form {
          padding: 15px 0; } }
      .popup .popup_form_wrap form input {
        margin: 8px;
        width: 80%;
        outline: none;
        border: none;
        padding: 15px; }
      .popup .popup_form_wrap form textarea {
        margin: 5px;
        outline: none;
        border: none;
        width: 80%;
        padding: 15px;
        resize: none; }
      .popup .popup_form_wrap form .submit {
        color: #fff;
        background-color: #10c9c3;
        text-transform: uppercase; }
    .popup .popup_form_wrap .popup_close {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 25px;
      height: 25px;
      cursor: pointer; }
      @media screen and (max-width: 768px) {
        .popup .popup_form_wrap .popup_close {
          width: 60px;
          height: 60px;
          bottom: 15px;
          right: 15px;
          top: auto; } }
      .popup .popup_form_wrap .popup_close:before {
        content: "";
        background-color: #10c9c3;
        position: absolute;
        height: 2px;
        width: 30px;
        top: 11px;
        left: -3px;
        transform: rotate(-45deg); }
        @media screen and (max-width: 768px) {
          .popup .popup_form_wrap .popup_close:before {
            top: 25px;
            left: 5px;
            width: 50px;
            height: 2px; } }
      .popup .popup_form_wrap .popup_close:after {
        content: "";
        background-color: #10c9c3;
        position: absolute;
        height: 2px;
        width: 30px;
        top: 11px;
        left: -3px;
        transform: rotate(45deg); }
        @media screen and (max-width: 768px) {
          .popup .popup_form_wrap .popup_close:after {
            top: 25px;
            left: 5px;
            width: 50px;
            height: 2px; } }

.slick-prev,
.slick-next {
  width: 50%;
  height: 100%;
  z-index: 2;
  opacity: 0; }

.slick-next {
  right: 0; }

.slick-prev {
  left: 0; }

.slick-dots li.slick-active {
  z-index: 4; }
  .slick-dots li.slick-active button::before {
    color: #fff;
    opacity: 1;
    font-size: 7px; }

/*# sourceMappingURL=main.css.map */
