html {
  height: 100%; }

body {
  font-family: "Montserrat", medium, sans-serif;
  height: 100%;
  background-color: #f5f5f5; }
  body p, body h1, body h2, body h3, body h4, body h5, body h6 {
    cursor: default; }
  body .p0 {
    padding: 0; }
  body .pt30 {
    padding-top: 30px; }
  body .pb30 {
    padding-bottom: 30px; }
  body .light {
    background-color: #f8f8f8; }
  body .aqua {
    background-color: #10c9c3; }
  body .pointer {
    opacity: 0;
    width: 50px;
    height: 70px;
    float: right;
    position: fixed;
    bottom: 10px;
    right: 5px;
    z-index: 1000;
    cursor: pointer;
    background-image: url(../img/pointer.png);
    background-size: contain;
    background-repeat: no-repeat; }
  body header {
    background-color: #e9e9e9;
    background-image: url(../img/Bald_top.png);
    background-repeat: no-repeat;
    background-position: 12% bottom;
    background-size: 50%;
    text-align: center; }
    body header .w-100 {
      width: 100%; }
    body header nav {
      text-align: center; }
    body header .top_mnu ul {
      float: right;
      vertical-align: middle;
      text-align: center; }
      @media screen and (max-width: 1200px) {
        body header .top_mnu ul {
          margin-left: 0; } }
      @media screen and (max-width: 767px) {
        body header .top_mnu ul {
          margin: 0;
          float: none; } }
    body header .top_mnu li {
      display: inline-block;
      vertical-align: middle; }
      @media screen and (max-width: 767px) {
        body header .top_mnu li {
          display: block; } }
      body header .top_mnu li a {
        text-decoration: none;
        text-transform: uppercase;
        margin-left: 30px;
        color: #191919;
        font-size: 12px; }
        body header .top_mnu li a:hover {
          color: #10c9c3; }
        @media screen and (max-width: 990px) {
          body header .top_mnu li a {
            margin-left: 0; } }
    body header h1 {
      font-size: 46px;
      text-transform: uppercase;
      padding: 1% 0; }
    body header .motto {
      text-align: center; }
      body header .motto h6 {
        font-size: 36px;
        text-transform: uppercase;
        margin-top: 21%; }
      body header .motto .motto_button {
        margin: 12% 0 21% 0;
        text-align: center;
        border: 0;
        text-transform: uppercase;
        font-size: 14px;
        color: #ffffff;
        background-color: #10c9c3;
        text-decoration: none;
        padding: 21px 42px; }
    @media screen and (max-width: 990px) {
      body header {
        background: none;
        background-color: #e9e9e9; } }
  body .about {
    padding-top: 5%; }
  body .skills_left h3 {
    text-align: center;
    font-size: 36px;
    color: #373737;
    padding-bottom: 1%;
    margin: 0 40% 3% 40%; }
  body .skills_left p {
    text-align: center;
    font-size: 22px;
    color: #787878;
    margin-bottom: 40px;
    font-family: "Nunito Sans", regular, sans-serif; }
  body .skills_left img {
    width: 16%;
    margin: 0 42% 5% 42%; }
  body .numbers {
    background-color: #10c9c3;
    color: #fff; }
    body .numbers .number_item_wrap {
      margin: 0 auto;
      text-align: center; }
      body .numbers .number_item_wrap .number_img {
        display: inline-block;
        background-image: url(../img/iconset_numbers.png);
        height: 41px;
        width: 41px; }
      body .numbers .number_item_wrap .number_img_1 {
        background-position: 0 0; }
      body .numbers .number_item_wrap .number_img_2 {
        background-position: -85px 0; }
      body .numbers .number_item_wrap .number_img_3 {
        background-position: -176px 0; }
      body .numbers .number_item_wrap .number_img_4 {
        background-position: -264px 0; }
      body .numbers .number_item_wrap p {
        font-size: 16px; }
  body .work {
    background-color: #f5f5f5; }
    body .work .gallery .col-md-3 {
      padding: 0; }
    body .work .gallery .gallery_item {
      cursor: pointer;
      padding: 0;
      margin: 0; }
      body .work .gallery .gallery_item img {
        min-height: 0;
        padding: 0;
        margin: 0;
        width: 100%; }
        body .work .gallery .gallery_item img:nth-of-type(2) {
          display: none; }
    body .work .work_btn {
      text-align: center;
      min-height: 100px;
      background-color: #f5f5f5; }
      body .work .work_btn button {
        width: 100%;
        height: 100px;
        border: none; }
        body .work .work_btn button a {
          color: #8e8e8e;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 13px; }
  body #hide {
    display: none; }
  body .work_process {
    background-color: #E9E9E9; }
    body .work_process h3 {
      text-align: center;
      font-size: 28px;
      color: #373737;
      margin-bottom: 40px; }
    body .work_process p {
      text-align: center;
      font-size: 16px;
      color: #787878;
      margin-bottom: 40px;
      font-family: "Nunito Sans", regular, sans-serif; }
    body .work_process .video_container {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px;
      height: 0;
      overflow: hidden; }
      body .work_process .video_container iframe {
        top: 0;
        left: 10%;
        width: 97%;
        height: 97%;
        position: absolute; }
  body .services {
    padding-top: 5%;
    background-color: #f9f9f9; }
    body .services .services_row .services_txt h1 {
      text-transform: uppercase;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 18px;
      font-size: 12px;
      color: #191919; }
    body .services .services_row .services_txt p {
      text-align: center;
      font-size: 16px;
      font-family: "Nunito Sans", regular, sans-serif;
      color: #787878;
      margin-bottom: 100px; }
    body .services .services_row .services_item {
      background-image: url(../img/servicse_iconset.png);
      width: 44px;
      height: 43px;
      margin: auto; }
    body .services .services_row .s_it_1 {
      background-position: 0 0; }
    body .services .services_row .s_it_2 {
      background-position: -92px 0; }
    body .services .services_row .s_it_3 {
      background-position: -207px 0; }
    body .services .services_row .s_it_4 {
      background-position: -328px 0; }
    body .services .services_row .s_it_5 {
      background-position: 0 -78px; }
    body .services .services_row .s_it_6 {
      background-position: -92px -78px; }
    body .services .services_row .s_it_7 {
      background-position: -207px -78px; }
    body .services .services_row .s_it_8 {
      background-position: -328px -78px;
      height: 45px;
      width: 45px; }
  body .testimonials {
    position: relative;
    text-align: center;
    padding-top: 40px;
    margin: 0 auto; }
    body .testimonials .testimonials_content {
      margin: 0 auto;
      text-align: center; }
      body .testimonials .testimonials_content q {
        font-size: 24px;
        color: #fff; }
      body .testimonials .testimonials_content p {
        font-size: 12px;
        color: #fff;
        padding: 30px 0 40px 0; }
  body .clients {
    padding-top: 45px; }
    @media screen and (max-width: 700px) {
      body .clients {
        display: none; } }
    body .clients .client {
      background-image: url(../img/clients_iconset.png);
      height: 72px;
      width: 152px;
      margin: 0 auto; }
    body .clients .client_1 {
      background-position: 21px 0; }
    body .clients .client_2 {
      background-position: -117px 0; }
    body .clients .client_3 {
      background-position: -286px 0; }
    body .clients .client_4 {
      background-position: -454px 0; }
    body .clients .client_5 {
      background-position: 21px 0; }
  body .project {
    background-color: #f5f5f5;
    text-align: center; }
    body .project h2 {
      font-size: 30px;
      color: #191919; }
    body .project p {
      font-size: 16px;
      color: #8c8c8c;
      font-family: "Nunito Sans", regular, sans-serif; }
    body .project form {
      color: #787878;
      font-size: 15px;
      font-family: "Nunito Sans", regular, sans-serif;
      outline: none; }
      body .project form input {
        margin: 8px;
        width: 100%;
        outline: none;
        border: none;
        padding: 15px; }
      body .project form textarea {
        margin: 5px;
        outline: none;
        border: none;
        width: 100%;
        padding: 15px;
        resize: none; }
      body .project form .submit {
        color: #fff;
        background-color: #10c9c3;
        text-transform: uppercase; }
  body .faq {
    padding: 0 0 20px 0; }
    body .faq h1 {
      margin: 0 0 2% 0; }
    body .faq h4 {
      font-size: 30px;
      cursor: pointer; }
    body .faq p {
      display: none; }
      body .faq p:first-of-type {
        display: block; }

footer {
  text-align: center;
  padding: 30px 0;
  background-color: #000;
  color: #fff; }
  footer .copy h3 {
    margin-top: 0;
    color: #e9e9e9;
    font-size: 18px; }
  footer .copy p {
    color: #9b9b9b;
    font-size: 15px;
    font-family: "Nunito Sans", regular, sans-serif; }
  footer .contact h3 {
    margin: 0;
    padding: 0; }
  footer a {
    text-decoration: none;
    font-family: "Nunito Sans", regular, sans-serif;
    font-size: 15px;
    color: #9b9b9b; }
    footer a:hover {
      color: #e9e9e9; }
  footer li {
    list-style-type: none; }

.slick-prev,
.slick-next {
  width: 50%;
  height: 100%;
  z-index: 2;
  opacity: 0; }

.slick-next {
  right: 0; }

.slick-prev {
  left: 0; }

.slick-dots {
  background-color: #10c9c3; }
  .slick-dots li {
    z-index: 4; }
    .slick-dots li button::before {
      color: #fff;
      opacity: 0.5;
      font-size: 5px; }

.slick-dots li.slick-active {
  z-index: 4; }
  .slick-dots li.slick-active button::before {
    color: #fff;
    opacity: 1;
    font-size: 7px; }

/*# sourceMappingURL=main.css.map */
